.navbarSk {
    display: none;
}

.jumbotron {
    display: none;
}

.list-alamat {
    height: max-content;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    padding: 20px;
}

.list-alamat .card-alamat {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}



