.navbarSk {
    display: none;
}

.jumbotron {
    display: none;
}

.list-alamat {
    height: 500px;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    padding: 20px;
}

.list-alamat .card-alamat {
    background-color: #FFF7E4;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}



