
/* .font-underline {
    text-decoration: underline solid rgba(242, 100, 25, 1) 3px;
}

#navbarNavAltMarkup {
    margin-left: 300px;
}

.logo {
    margin-left: 30px;
} */

.title-main {
    margin-top: 50px;
    margin-left: 90px;
    color: white;
}

.child-main {
    margin-left: 90px;
    color: white;
}

.jumbotron {
    height: 450px;
}

.jumbotron button {
    margin-left: 140px;
}

.konten {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin-bottom: 200px;
}

.konten h1, .konten h5 {
    color: rgba(47, 72, 88, 1);
    margin-bottom: 50px;
}

.konten .row img {
    width: 450px;
}

.konten .row ul li{
    font-size: 20px
}

.konten .row ul li .fa-check-circle-o{
    color: rgba(242, 100, 25, 1);
    margin-left: -25px;
}

#title-benefit {
    color: rgba(242, 100, 25, 1);
    text-align: center;
}

.wadah-icon-benefit {
    /* border: 1px solid black; */
    width: 95%;
    text-align: center;
    margin-top: 100px;
    color: rgba(242, 100, 25, 1);
}