.swal2-confirm-custom {
    background-color: #F26419 !important;
    color: #fff !important;
  }
  .swal2-title-left {
    text-align: left;
  }
  
  .swal2-content-left {
    text-align: left;
  }
  